<!DOCTYPE html>
<html lang="es">
<body>

  <div class="container-fluid">
      <div class="row">
        <div class=".col-md-4 col-sm-4 col-xs-12"></div> 
        
        <div class=".col-md-4 col-sm-4 col-xs-12">
          <div class="form-title text-center" >
            <h4 style="font-weight: 800;"> Iniciar Sesión</h4>
          </div>
          <form class="formulario">  
            <div class="form-group">
              <label for="exampleInputEmail1">Email </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
              <a href="recuperar.html">Olvide mi contraseña!</a>
              
            </div>
            <input type="submit" class="btn btn-primary btn-block"><a href="investigador.html" style="text-decoration: none;color: white;">Acceder</a></input>
            
          </form>

        </div> 
      </div>
    </div>
</body>
</html>
