<div class="container" style="margin-bottom: 200px;">
  <div class="row">
    <div class="col-md-12">
      <br>
      <center><h2 style="color:black">Acerca del proyecto</h2>
      <p style="text-align: justify;">El sistema es un repositorio Web de archivos de datos meteorológicos para datos de las estaciones pertenecientes a la ciudad de Quito. El repositorio tiene como objetivo agilizar la divulgación de archivos de datos de tipo meteorológico, brindando a los usuarios la posibilidad compartir y obtener archivos en formatos específicos que se adapten a sus necesidades. Permite la carga de archivos manejados por INAMHI y REMMAQ en sus formatos originales, brindando la opción de obtenerlos en formato xls, CSV, txt y el archivo original.</p>
      </center>
    </div>
    
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <img src="images/team-03.png" class="imgRedonda" alt="Team Member">
      <br>
      <br>    
      <h2>Jonathan Castillo</h2>      
      <div class="social">
        <ul class="social-buttons">
          <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
          <li><a href="mailto:jcastilloa9@gmail.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8" >
      <br>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
    </div>
    <div class="col-md-4">
    </div>          
  </div>


  <div class="row">    
    <div class="col-md-8 ">
      <br>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet.</p>
    </div>
    <div class="col-md-4 ">
      <img src="images/team-02.png" class="imgRedonda" alt="Team Member">
      <br>
      <br>
      <h2>Cristhian Salazar</h2>      
      <div class="social">
        <ul class="social-buttons">
          <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
          <li><a href="mailto:crizgd@gmail.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-3">
      <img src="images/team-03.png" class="imgRedonda" alt="Team Member">
      <br>
      <br>
      <h2>Rodrigo Tufiño</h2>      
      <div class="social">
        <ul class="social-buttons">
          <li><a href="http://rodrigotufino.info" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8" >
      <br>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
    </div>
    <div class="col-md-4">
    </div>          
  </div>

  
</div>