<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link href="path/to/select2.min.css" rel="stylesheet" />
    <script src="path/to/select2.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <br />
    <div class="container-fluid" style="width: 1024px;">
        <form action="">
            <select class="js-example-responsive" multiple="multiple" style="width: 930px;">
                <optgroup label="Estación">
                    <option value="AL">Belisario</option>
                    <option value="WY">UPS</option>
                    <option value="WY">Alameda</option>
                </optgroup>
                <optgroup label="Magnitud">
                    <option value="WY">Temperatura</option>
                    <option value="WY">Humedad</option>
                    <option value="WY">Precipitación</option>
                    <option value="WY">Nubosidad</option>
                </optgroup>
            </select>
            <button type="submit" class="btn btn-default"> <img src="/images/search.png" alt="x" /></button> 
            <script>
                $(document).ready(function () {
                    $('.js-example-responsive').select2({
                        placeholder: "Buscar..."

                    });
                });
            </script>
        </form>
    </div>

    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 180px; width: 1024px;">
        <div class="card card-carrera">
            <div class="card-body">
                <h4 class="card-title">Titulo</h4>
                <p class="card-text"> Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                </p>
                <p class="card-text">
                    Autor: <a href="" style="color: black;"> Nombre autor</a>
                    | Origen: <a href="" style="color: black;"> Nombre origen</a>
                    | Estación: <a href="" style="color: black;"> Nombre estación</a>
                    | Magnitud: <a href="" style="color: black;"> Nombre magnitud</a>
                </p>

                <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
                <button class="btn-primary">CSV</button>
                <button class="btn-success">XLS</button>
                <button class="btn-secondary">Original</button>
            </div>

        </div>
        </br>
        <div class="card card-carrera">
            <div class="card-body">
                <h4 class="card-title">Titulo</h4>
                <p class="card-text"> Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                </p>
                <p class="card-text">
                    Autor: <a href="" style="color: black;"> Nombre autor</a>
                    | Origen: <a href="" style="color: black;"> Nombre origen</a>
                    | Estación: <a href="" style="color: black;"> Nombre estación</a>
                    | Magnitud: <a href="" style="color: black;"> Nombre magnitud</a>
                </p>

                <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
                <button class="btn-primary">CSV</button>
                <button class="btn-success">XLS</button>
                <button class="btn-secondary">Original</button>
            </div>

        </div>
        </br>
        <div class="card card-carrera">
            <div class="card-body">
                <h4 class="card-title">Titulo</h4>
                <p class="card-text"> Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                </p>
                <p class="card-text">
                    Autor: <a href="" style="color: black;"> Nombre autor</a>
                    | Origen: <a href="" style="color: black;"> Nombre origen</a>
                    | Estación: <a href="" style="color: black;"> Nombre estación</a>
                    | Magnitud: <a href="" style="color: black;"> Nombre magnitud</a>
                </p>

                <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
                <button class="btn-primary">CSV</button>
                <button class="btn-success">XLS</button>
                <button class="btn-secondary">Original</button>
            </div>

        </div>
        </br>
        <div class="card card-carrera">
            <div class="card-body">
                <h4 class="card-title">Titulo</h4>
                <p class="card-text"> Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                </p>
                <p class="card-text">
                    Autor: <a href="" style="color: black;"> Nombre autor</a>
                    | Origen: <a href="" style="color: black;"> Nombre origen</a>
                    | Estación: <a href="" style="color: black;"> Nombre estación</a>
                    | Magnitud: <a href="" style="color: black;"> Nombre magnitud</a>
                </p>

                <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
                <button class="btn-primary">CSV</button>
                <button class="btn-success">XLS</button>
                <button class="btn-secondary">Original</button>
            </div>

        </div>
        </br>
        <div class="card card-carrera">
            <div class="card-body">
                <h4 class="card-title">Titulo</h4>
                <p class="card-text">Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                </p>
                <p class="card-text">
                    Autor: <a href="" style="color: black;"> Nombre autor</a>
                    | Origen: <a href="" style="color: black;"> Nombre origen</a>
                    | Estación: <a href="" style="color: black;"> Nombre estación</a>
                    | Magnitud: <a href="" style="color: black;"> Nombre magnitud</a>
                </p>

                <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
                <button class="btn-primary">CSV</button>
                <button class="btn-success">XLS</button>
                <button class="btn-secondary">Original</button>
            </div>

        </div>



    </div>