/* Titulo archivo */
.card-title {
    margin-bottom: 0.75rem;
    color: #2e8a9b;
    font-size: 16px;
}
.card-text {
    font-size: 12px;
}
/* Titulo Subtitulos */
.card-text a{
    font-weight: bold;
    font-size: 12px;
}
/* Descripcion */
.card-text-a-custom {
    font-weight: unset!important;
}

.btn-primary {
    width: 80px;
    height: 30px;    
    font-size: 12px;
}
.btn-primary a{
    color: whitesmoke;
    text-decoration: none;
}
.btn-success {
    width: 80px;
    height: 30px;    
    font-size: 12px;
}
.btn-success a{
    color: whitesmoke;
    text-decoration: none;
}

.btn-secondary-2 a{
    color: whitesmoke;
    text-decoration: none;
}

.btn-secondary-2 {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    width: 80px;
    height: 30px;    
    font-size: 12px;
}

.btn-secondary-2:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary-2:focus,
.btn-secondary-2.focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary-2.disabled,
.btn-secondary-2:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary-2:not(:disabled):not(.disabled):active,
.btn-secondary-2:not(:disabled):not(.disabled).active,
.show>.btn-secondary-2.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btn-secondary-2:not(:disabled):not(.disabled):active:focus,
.btn-secondary-2:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary-2.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}


.btn-info-2 {
    color: #fff !important;
    background-color: #17a2b8;
    border-color: #17a2b8;
    width: 80px;
    height: 30px;    
    font-size: 12px;
}
.btn-info-2 a{
    color: whitesmoke;
    text-decoration: none;
}

.btn-info-2:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-info-2:focus,
.btn-info.focus {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-info-2.disabled,
.btn-info-2:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info-2:not(:disabled):not(.disabled):active,
.btn-info-2:not(:disabled):not(.disabled).active,
.show>.btn-info-2.dropdown-toggle {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}

.btn-info-2:not(:disabled):not(.disabled):active:focus,
.btn-info-2:not(:disabled):not(.disabled).active:focus,
.show>.btn-info-2.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
/* Tarjetas Archivo */
.card{
    margin-bottom: 5px;
}