<div class="container-fluid">
    <div class="row ">
        <div class=".col-md-4 col-sm-4 col-xs-12"></div>
        <div class=".col-md-4 col-sm-4 col-xs-12">
            <div class="form-title text-center">
                <h4 style="font-weight: 800;"></h4> <img src="/images/inamhi.png" width="128" height="64" alt="INAMHI">
            </div>
            <form class="formulario" action="/users/uploadin" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleFormControlFile1">Subir archivo</label>
                    <input type="file" class="form-control-file" name="archivoremmaq" id="exampleFormControlFile1"
                        accept=".txt">
                </div>
                <div class="form-group">
                    <label for="origen">Titulo </label>
                    <input type="text" class="form-control" name="tituloArchivo" value="{{tituloArchivo}}">
                </div>

                <div class="form-group">
                    <label for="origen"> Origen </label>
                    <input type="text" class="form-control" name="origen" value='INAMHI{{origen}}' disabled>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripci칩n (Opcional)</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"
                        value="{{description}}"
                        placeholder="Breve descripci칩n de los datos a subir incluyendo [mes/a침o de inicio - mes/a침o fin]"></textarea>
                </div>
                <button type=" submit" class="btn btn-primary btn-block">Aceptar</button>
            </form>
        </div>
    </div>