<div class="container-fluid">
    <div class="row">
        <div class=".col-md-4 col-sm-4 col-xs-12"></div>
        <div class=".col-md-4 col-sm-4 col-xs-12">
            <div class="form-title text-center">
                <h4 style="font-weight: 800;"></h4><img src="/images/remmaq.png" width="128" height="64" alt="REMMAQ">
            </div>
            <form class="formulario">
                <div class="form-group">
                    <label for="exampleFormControlFile1">Subir archivo</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" accept=".xls,.txt">
                </div>
                <div class="form-group">
                    <label for="origen">Titulo </label>
                    <input type="text" class="form-control" id="titulo">
                </div>
                <div class="form-group">
                    <label for="origen">Origen </label>
                    <input type="text" class="form-control" id="origen">
                </div>
                <div class="form-group">
                    <label for="magnitud">Magnitud </label>
                    <input type="text" class="form-control" id="magnitud">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripción</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <a href="">Añadir Metadatos</a>
                <button type="submit" class="btn btn-primary btn-block"><a style="text-decoration:none; color: white;"
                        href="#">Aceptar</a></button>
            </form>
    </div>
</div>
