<center>
    <h1>Historial de Archivos {{user.name}}</h1>
</center>
<div class="container-fluid" style="margin-top: 50px;">

    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 180px; width: 1024px;">
        <div class="card card-carrera">
            <div class="card-body">
                <h4 class="card-title">Titulo</h4>
                <p class="card-text"> Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                </p>
                <p class="card-text">
                    Autor: <a href="" style="color: black;"> Nombre autor</a>
                    | Origen: <a href="" style="color: black;"> Nombre origen</a>
                    | Estación: <a href="" style="color: black;"> Nombre estación</a>
                    | Magnitud: <a href="" style="color: black;"> Nombre magnitud</a>
                </p>

                <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
                <button class="btn-primary">CSV</button>
                <button class="btn-success">XLS</button>
                <button class="btn-secondary">Original</button>
            </div>

        </div>
        </br>
        <div class="card card-carrera">
            <div class="card-body">
                <h4 class="card-title">Titulo</h4>
                <p class="card-text"> Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                </p>
                <p class="card-text">
                    Autor: <a href="" style="color: black;"> Nombre autor</a>
                    | Origen: <a href="" style="color: black;"> Nombre origen</a>
                    | Estación: <a href="" style="color: black;"> Nombre estación</a>
                    | Magnitud: <a href="" style="color: black;"> Nombre magnitud</a>
                </p>

                <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
                <button class="btn-primary">CSV</button>
                <button class="btn-success">XLS</button>
                <button class="btn-secondary">Original</button>
            </div>

        </div>
        </br>
        <div class="card card-carrera">
            <div class="card-body">
                <h4 class="card-title">Titulo</h4>
                <p class="card-text"> Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                </p>
                <p class="card-text">
                    Autor: <a href="" style="color: black;"> Nombre autor</a>
                    | Origen: <a href="" style="color: black;"> Nombre origen</a>
                    | Estación: <a href="" style="color: black;"> Nombre estación</a>
                    | Magnitud: <a href="" style="color: black;"> Nombre magnitud</a>
                </p>

                <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
                <button class="btn-primary">CSV</button>
                <button class="btn-success">XLS</button>
                <button class="btn-secondary">Original</button>
            </div>

        </div>
        </br>
        <div class="card card-carrera">
            <div class="card-body">
                <h4 class="card-title">Titulo</h4>
                <p class="card-text"> Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                </p>
                <p class="card-text">
                    Autor: <a href="" style="color: black;"> Nombre autor</a>
                    | Origen: <a href="" style="color: black;"> Nombre origen</a>
                    | Estación: <a href="" style="color: black;"> Nombre estación</a>
                    | Magnitud: <a href="" style="color: black;"> Nombre magnitud</a>
                </p>

                <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
                <button class="btn-primary">CSV</button>
                <button class="btn-success">XLS</button>
                <button class="btn-secondary">Original</button>
            </div>

        </div>
        </br>
        <div class="card card-carrera">
            <div class="card-body">
                <h4 class="card-title">Titulo</h4>
                <p class="card-text">Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                </p>
                <p class="card-text">
                    Autor: <a href="" style="color: black;"> Nombre autor</a>
                    | Origen: <a href="" style="color: black;"> Nombre origen</a>
                    | Estación: <a href="" style="color: black;"> Nombre estación</a>
                    | Magnitud: <a href="" style="color: black;"> Nombre magnitud</a>
                </p>

                <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
                <button class="btn-primary">CSV</button>
                <button class="btn-success">XLS</button>
                <button class="btn-secondary">Original</button>
            </div>

        </div>



    </div>
    


</div>