<div class="card-deck" style="margin-top: 180px; margin-left: 20px;margin-right: 20px;zoom:75%">
    <div class="card card-invest" id="remmaq" style="cursor: pointer;">

        <center>
            <a class="dropdown-item" href="/users/uploadrem">
            <img src="/images/remmaq.png" style="width: 230px;padding: 30px; margin-top: 10px;" alt="remmaq">
            <div class="card-body">
                <h5 class="card-title text-center">REMMAQ</h5>
                <p class="card-text text-center">Subir archivos de la Red Metropolitana </br> de Monitoreo Atmosférico de Quito.</p>
            </div>
            </a>
        </center>

    </div>
    <div class="card card-invest" id="inamhi" style="cursor: pointer;">

        <center>
            <a class="dropdown-item" href="/users/uploadin">
            <img src="/images/inamhi.png" style="width: 230px;padding: 30px; margin-top: 10px" alt="INAMHI">
            <div class="card-body">
                <h5 class="card-title text-center" style="margin-top: -10px;">INAMHI</h5>
                <p class="card-text text-center">Subir archivos de Instituto Nacional </br> de Meteorología e Hidrología.
                </p>
            </div>
            </a>
        </center>

    </div>
    <div class="card card-invest" id="hist" style="cursor: pointer;">

        <center>
            <a class="dropdown-item" href="/users/hist/1">
            <img src="/images/historial.png" style="width: 160px;padding: 30px;" alt="historial">
            <div class="card-body">
                <h5 class="card-title text-center" style="margin-top: -22px;">Historial</h5>
                <p class="card-text text-center">Visualizar la informacion subida.</p>

            </div>
            </a>
        </center>

    </div>
    <div class="card card-invest" id="edit" style="cursor: pointer;">

        <center>
            <a class="dropdown-item" href="/users/editinfo/{{user.id}}/">
            <img src="/images/editar.png" style="width: 160px;padding: 30px;" alt="editar">
            <div class="card-body">
                <h5 class="card-title text-center" style="margin-top: -22px;">Editar</h5>
                <p class="card-text text-center">Editar datos del Investigador</p>

            </div>
            </a>
        </center>

    </div>

</div>